// app.sass
// Author: Hiroshi Hashimoto
// Date: 2016-10-15
@import "../../node_modules/font-awesome/scss/font-awesome.scss"
@import "../../node_modules/bootswatch/flatly/variables.scss"
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss"
@import "../../node_modules/bootswatch/flatly/bootswatch.scss"
@import "./util/templates/list-template"
@import "./functions/todo-list"

*
  margin: 0
  padding: 0

body
  font-family: "Helvetica Neue" , Helvetica, Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ"

a
  text-decoration: none
