// _list-template.sass
// Author: Hiroshi Hashimoto
// Date: 2016-11-06
.list
  margin-top: 60px
  // icon of header
  &__title > .page-header > i
    margin-right: 5px
  &__button > #searchTxt
    width: 300px
    display: inline
    margin-right: 0px
  &__button > #searchBtn
    margin-left: 3px
  &__table
    margin-top: 20px
  &__table > table th, td
    height: 60px

.table > thead > tr > th
  vertical-align: middle
.table > tbody > tr > td
  vertical-align: middle
.table > thead > tr > th i
  margin-left: 10px
.table > tbody > tr > td i
  margin-right: 4px
